* {
    padding: 0;
    margin: 0;
}
body {
    background: url("./assets/images/monstera.jpg");
    background-size: cover;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title {
    text-align: center;
    font-size: 100px;
    color: rgb(22, 183, 223);
    font-family: 'Montserrat', sans-serif;
}

#subtitle {
    text-align: center;
    font-size: 55px;
    color:  rgb(22, 183, 223);
    font-family: 'Montserrat', sans-serif;
    
}

a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(102, 182, 119);
    font-family: 'Montserrat', sans-serif;
}

a:hover {
opacity: 50%;
}

#selfImg {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

#aboutMe {
    background-color: rgba(255, 255, 255, 0.295);
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

p {
    text-align: center;
}